body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  background-color: #f4f6f8;
  color: #333;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background-color: #0d47a1;
  color: white;
  padding: 20px;
  text-align: center;
}

.store-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.nav a.active{
  background-color:white;
  color:#0d47a1;
  padding:6px 10px;
  border-radius:15px;
}

/* Main Layout */
main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

/* Cards */
.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #e3f2fd;
}

/* Form */
input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #0d47a1;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1565c0;
}

/* Footer */
.footer {
  background-color: #0d47a1;
  color: white;
  text-align: center;
  padding: 15px;
}

.welcome-box{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:20px;
}

.welcome-text{
  flex:1;
}

.welcome-image img{
  width:1250px;
  max-width:100%;
  height:auto;
}

